@if (ViewBag.PageCount > 1)
{
    <nav aria-label="Page navigation">
        <ul id="pagination" class="pagination" data-current-page="@ViewBag.Page">
            @if (ViewBag.Page == 1)
            {
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }


            <li><a href="#">1</a></li>

            @if (ViewBag.Page == ViewBag.PageCount)
            {
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
