body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white !important
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}


.search-input {
    width: 550px !important;
}

.modal-container {
    padding: 6px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.img-show {
    width: 304px !important;
    height: 236px !important;
}

.avatar {
    max-height: 40px !important;
    width: 40px !important;
    vertical-align: middle !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.avatar-edit{
    max-height: 100px !important;
    width: auto !important;
}

.avatar-show{
    max-height: 60px !important;
    width: 60px !important;
}

.auth-items {
    vertical-align: middle !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.gray-content {
    background-color: lightgray !important;
}

.white-content {
    background-color: white !important;
}

.color-text {
    color: #333333;
}

.thumb {
    margin-bottom: 30px;
}

.input-block {
    width: 100%;
}

.margin-left {
    margin-left: 10px !important;
}