@model IEnumerable<string>

<h3>@ViewBag.CommentCount videos</h3>
<div class="row">
    @foreach (string video in Model)
    {
        @Html.Action("Thumbnail", "Video", new { id = video })
    }
</div>

@Html.Partial("_Pagination")