@model IEnumerable<MyTube.BLL.BusinessEntities.VideoProxy>

@{
    ViewBag.Title = "Search";
}

<h3>@ViewBag.VideoCount results</h3>
<div class="row">
    @foreach (MyTube.BLL.BusinessEntities.VideoProxy video in Model)
    {
        @Html.Partial("_VideoThumbnail", video)
    }
</div>

@Html.Partial("_Pagination")