@model IEnumerable<string>

@{
    ViewBag.Title = "Home";
}

<h2>Popular videos</h2>

<div class="row">
    @foreach (string video in Model)
    {
        @Html.Action("Thumbnail", "Video", new { id = video })
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/HomePageLoader")
}